<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="wrapper">
      <nav class="nav">
         <div class="container">
            <div class="nav__itm">
               <a href="#" class="logo">Download-From</a>
               <div class="dropdowns">
                  <div class="dropdown">
                     <button class="drop-btn">Instagram Tools</button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">Youtube Tools</button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">Facebook Tools</button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">Tiktok Tools</button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="drop-btn">Other Tools</button>
                     <ul class="dropdown-content">
                        <li>
                           <a href="#">Story Downloader</a>
                        </li>
                        <li>
                           <a href="#">Photo Downloader</a>
                        </li>
                        <li>
                           <a href="#">Video Downloader</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <button class="menu-btn"><img src="./menu.svg" alt="menu image"></button>
            </div>
         </div>
      </nav>
      <content class="content">
         <div class="container">
            <div class="content__itm">
               <div class="hero">
                  <h1>Instagram Story Download</h1>
   
                  <form class="form" action="/instagram/post" method="POST">
                     <label hidden for="link">Link</label>
                     <input required class="input" type="url" placeholder="Paste your video link  here" id="link" name="link">
                     <button class="btn-submit" type="submit">Download</button>
                  </form>
                  <div class="guide">
                     <a class="guide-link" href="#">How to download</a>
                  </div>



                  
               </div>

               <div class="video-box">
                  <% if(data = null) {%>
                     <video width="270" height="480" controls >
                        <source src=" <%- data %> ">
                     </video>
                  <% } %> 

                  <a class="save-btn" href=" <%= data %>">Download</a>


               </div>

                  
                 


            </div>
         </div>
      </content>
   
   </div>


   <footer class="footer">
      <div class="container">
         <div class="footer__itm">
            <div class="footer-logo">
               <a class="logo" href="#">Dowload-from</a>
            </div>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Instagram</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>

            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Youtube</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>Facebook</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <p>TikTok</p>
               </li>
               <li>
                  <a href="#">Story Downloader</a>
               </li>
               <li>
                  <a href="#">Video Downloader</a>
               </li>
               <li>
                  <a href="#">Post Downloader</a>
               </li>
            </ul>
            <ul class=" footer-list instagram-footer">
               <li>
                  <a href="#">Home</a>
               </li>
               <li>
                  <a href="#">About us</a>
               </li>
               <li>
                  <a href="#">Contact</a>
               </li>
            </ul>
         </div>
      </div>
   </footer>


</body>
</html>